.pagination {
    nav {
        padding: 50px 0;
        ul {
            justify-content: center;
            li {
                &+ li {
                    margin-left: 0px;
                }
                div {
                    color: #fff;
                }
                a {
                    color: #fff;
                }
                a.Mui-selected {
                    color:#000;
                    background-color: #F2E35B;
                    &:hover {
                        background-color: #c7bc56;
                    }
                }
            }
        }
    }
}