.category {
    min-height: 100vh;
    .pagination {
        margin-left: 320px;
    }
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 50px;
    }

    .filters {
        width: 400px;
        height: 700px;
        background-color: #000;
        margin-right: 30px;
    }
    &_content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            .goBack {
                cursor: pointer;
                padding: 10px 20px;
                color: #000;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F2E35B;
                border-radius: 10px;
                transition: 0.4s;
                &:hover {
                    background: #baaf4a;
                }
            }
        }
    }
    .card + .card {
        margin-left: 0 !important;
    }
    .card .progress_bar .vote {
        font-size: 14px;        
        left: 50% !important;
        transform: translate(-50%, -50%);
        top: 50%;
    }
    .card h3 {
        color: #fff;
    }
    .progress_bar {
        width: 50px !important;
        height: 50px !important;
        svg {
            width: 50px;
            height: 50px;
        }
    }
    &_wrap {
        width: 100%;
    }
}

.category_content-notfound {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
}


.pagination_wrap {
    align-items: center !important;
    justify-content: center !important;
}

.aside {
    width: 300px;
    margin-right: 20px;
    -webkit-box-shadow: 22px 17px 102px 18px rgba(0,0,0,0.37);
    -moz-box-shadow: 22px 17px 102px 18px rgba(0,0,0,0.37);
    box-shadow: 22px 17px 102px 18px rgba(0,0,0,0.37);
    padding: 30px;
    border-radius: 20px;
    position: sticky;
    top: 10px;
    z-index: 11;
    background: #292929a8;

    &_btn {
        padding: 10px 20px;
        color: #000;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
        background: #F2E35B;
        border-radius: 10px;
        transition: 0.4s;

        &:hover {
            background: #beb24a;
        }

        & + .aside_btn {
            margin-top: 10px;
        }
    }

    h4 {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .sorting {
        margin-bottom: 20px;

        select {
            background-color: #d8d4d4;
            padding: 10px;
            border-radius: 10px;
        }
    }
}

.aside_wrap-item {
    h5 {
        color: #fff;
        font-size: 18px;
    }
}
.aside_wrap-item_genre {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
    span {
        color: #f5f5f5;
        cursor: pointer;
        border: 1px solid #d8d4d4;
        padding: 2px 5px;
        border-radius: 10px;
        transition: 0.2s;
        &.active {
            border-color: #F2E35B;
            background-color: #F2E35B;
            color: #000;
        }
        &:hover {
            border-color: #F2E35B;
            background-color: #F2E35B;
            color: #000;
        }
    }
}
.aside_wrap-item_year {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
        width: 73%;
        padding: 5px;
        border-radius: 10px;
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
        outline: none;
        &::placeholder {
            color: #fff;
        }

        &:first-child {
            background-color: #d8d4d4;
            border: none;
            border-radius: 8px;
            height: 7px;
            width: 73%;
            outline: none;
            -webkit-appearance: none;
        }
    }
    input + input {
        font-size: 16px;
        width: 22%;
    }
}


