.category {
    min-height: 100vh;
    .pagination {
        margin-left: 320px;
    }
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 50px;
    }

    .filters {
        width: 400px;
        height: 700px;
        background-color: #000;
        margin-right: 30px;
    }
    &_content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;            
            .category_btn {
                cursor: pointer;
                padding: 10px 20px;
                color: #000;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #F2E35B;
                border-radius: 10px;
                transition: 0.4s;
                &:hover {
                    background: #baaf4a;
                }
                & + .category_btn {
                    margin-left: 10px;
                }
            }
            .category_filter {
                display: none;
            }
        }
    }
    .card + .card {
        margin-left: 0 !important;
    }
    .card .progress_bar .vote {
        font-size: 14px;        
        left: 50% !important;
        transform: translate(-50%, -50%);
        top: 50%;
    }
    .card h3 {
        color: #fff;
    }
    .progress_bar {
        width: 50px !important;
        height: 50px !important;
        svg {
            width: 50px;
            height: 50px;
        }
    }
    &_wrap {
        width: 100%;
    }
}

.category_content-notfound {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
}


.pagination_wrap {
    align-items: center !important;
    justify-content: center !important;
}

.aside {
    width: 300px;
    margin-right: 20px;
    -webkit-box-shadow: 22px 17px 102px 18px rgba(0,0,0,0.37);
    -moz-box-shadow: 22px 17px 102px 18px rgba(0,0,0,0.37);
    box-shadow: 22px 17px 102px 18px rgba(0,0,0,0.37);
    padding: 30px;
    border-radius: 20px;
    position: sticky;
    top: 10px;
    z-index: 11;
    background: #292929a8;

    &_btn {
        cursor: pointer;
        width: 100%;
        padding: 10px 20px;
        color: #000;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
        background: #F2E35B;
        border-radius: 10px;
        transition: 0.4s;

        &:hover {
            background: #beb24a;
        }

        & + .aside_btn {
            margin-top: 10px;
        }
    }

    h4 {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .sorting {
        margin-bottom: 20px;

        select {
            background-color: #d8d4d4;
            padding: 10px;
            border-radius: 10px;
        }
    }
}

.aside_wrap-item {
    h5 {
        color: #fff;
        font-size: 18px;
    }
}
.aside_wrap-item_genre {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 20px;
    span {
        color: #f5f5f5;
        cursor: pointer;
        border: 1px solid #d8d4d4;
        padding: 2px 5px;
        border-radius: 10px;
        transition: 0.2s;
        &.active {
            border-color: #F2E35B;
            background-color: #F2E35B;
            color: #000;
        }
        &:hover {
            border-color: #F2E35B;
            background-color: #F2E35B;
            color: #000;
        }
    }
}
.category_content-top_btns {
    display: flex;
    align-items: center;
}
.aside_wrap-item_year {
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
        width: 73%;
        padding: 5px;
        border-radius: 10px;
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
        outline: none;
        &::placeholder {
            color: #fff;
        }

        &:first-child {
            background-color: #d8d4d4;
            border: none;
            border-radius: 8px;
            height: 7px;
            width: 73%;
            outline: none;
            -webkit-appearance: none;
        }
    }
    input + input {
        font-size: 16px;
        width: 22%;
    }
}

@media (max-width: 1180px) {
    .category_content {
        .card img {
            height: 300px;
        }
        .card_play {
            height: 300px;
        }
    }
}
@media (max-width: 1050px) {
    .category_content {
        grid-template-columns: 1fr 1fr 1fr;
        .card img {
            height: 340px;
        }
        .card_play {
            height: 340px;
        }
    }
}

@media (max-width: 950px) {
    .category_content-top .category_filter {
        display: block;
    }
    .category_content {
        grid-template-columns: 1fr 1fr 1fr;
        .card img {
            height: 380px;
        }
        .card_play {
            height: 380px;
        }
    }
    .aside {
        height: 100%;
        background-color: #292929;
        box-shadow: none;
        border-radius: 0;
        width: 0;
        .close_aside {
            width: 50px;
            height: 50px;
            position: absolute;
            right: -20px;
            top: 30%;
            transform: translateY(-50%);
            background-color: #292929;
            border-radius: 50%;
            cursor: pointer;
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                
                width: 60%;
                height: 1px;
                background-color: #fff;
                &:first-child {
                    transform: translateX(-50%) rotate(-45deg);
                }
                &:last-child {
                    transform: translateX(-50%) rotate(45deg);
                }
            }
        }
    }
    aside {
        z-index: -1;
        left: -100%;
        opacity: 0;
        transition: 0.4s;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        height: 100%;
        width: 100%;
        &.active {
            opacity: 1;
            z-index: 99999;
            left: 0;
            .aside {
                width: 300px;
            }
        }
    }
    .category .pagination {
        margin: 0 auto;
    }
}

@media (max-width: 700px) {
    .category_content .card_play,
    .category_content .card img {
        height: 300px;
    }
}

@media (max-width: 700px) {
    .category_content {
        grid-template-columns: 1fr 1fr;
    }
    .category_content .card_play,
    .category_content .card img {
        height: 380px;
    }
    .category_content .card h3 {
        font-size: 16px;
    }
}

@media (max-width: 460px) {
    .category_content .card_play,
    .category_content .card img {
        height: 280px;
    }
}

@media (max-width: 460px) {
    .category_content .card_play,
    .category_content .card img {
        height: 250px;
    }
    .category_content-top {
        flex-direction: column;
        align-items: flex-start;
        h1 {
            margin-bottom: 10px;
        }
    }
    .category .container {
        padding-top: 30px;
    }
}




