.profile {
    padding-top: 50px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    h1 {
        margin-bottom: 30px;
    }
    button {
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        border: none;
        background-color: #F2E35B;
        padding: 5px 10px;
        border-radius: 10px;
        margin-top: 20px;
    }
    &_info {
        max-width: 400px;
        width: 100%;
        position: sticky;
        top: 50px;
        padding: 20px;
        background-color: rgba(0,0,0,0.5);
        border-radius: 20px;
        overflow-x: auto;
        p {
            color: #fff;
            font-size: 30px;
            font-weight: bold;
            span {
                color: #fff;
                font-size: 25px;
                font-weight: normal;
            }
        }
    }
    &_inner-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.profile_form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .error {
        color: #e67373;
    }
    input {
        width: 285px;
        margin: 20px 0;
        height: 30px;
    }
    button {
        width: fit-content;
        height: 30px;
    }
    &-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

.profile_fav-films_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    .card > svg path {
        fill: #F2E35B;
    }
    .card h3 {
        color: #fff;
    }
}

.profile_fav-films {
    max-width: 850px;
    width: 100%;
    margin-left: 50px;
    &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        button {
            margin: 0;
        }
        
    }
}

@media (max-width: 1160px) {
    .profile_fav-films_list {
        .card {
            img {
                height: 300px;
            }
            .card_play {
                height: 300px;
            }
        }
    }
}

@media (max-width: 1060px) {
    .profile_fav-films_list {
        .card {
            img {
                height: 250px;
            }
            .card_play {
                height: 250px;
            }
        }
    }
}

@media (max-width: 950px) {
    .profile_fav-films {
        margin-left: 0;
        margin-top: 40px;
        max-width: 100%;
    }
    .profile_inner-content {
        flex-direction: column;
    }
    .profile_fav-films_list .card .card_play,
    .profile_fav-films_list .card img {
        height: 340px;
    }
}
@media (max-width: 670px) {
    .profile_fav-films_list .card .card_play,
    .profile_fav-films_list .card img {
        height: 290px;
    }
}
@media (max-width: 550px) {
    .profile_fav-films_list {
        grid-template-columns: 1fr 1fr;
    }
    .profile {
        padding: 40px 0;
        h1 {
            font-size: 30px;
        }
    }
    .profile_info p {
        font-size: 24px;
    }
    .profile_fav-films_list .card .card_play,
    .profile_fav-films_list .card img {
        height: 320px;
    }
}

@media (max-width: 480px) {
    .profile_fav-films_top {
        flex-direction: column;
        align-items: flex-start;
        button {
            margin-top: 20px;
        }
    }
    .profile_fav-films_list .card .card_play,
    .profile_fav-films_list .card img {
        height: 250px;
    }
}