@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #fff;
    &.lock {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #292929;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h1 span {
    color: #F2E35B;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1340px) {
    .container {
        padding: 0 15px;
    }
}


