header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

nav {
    z-index: 999;
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        li {
            cursor: pointer;
        }
        li + li {
            margin-left: 40px;
        }
        li.has_children {
            & > span {
                font-size: 20px;
                font-weight: bold;
                display: block;
            }
            ul {
                display: none;
    
                li + li {
                    margin-top: 5px;
                }
            }
        }
    }
}
.search {
    cursor: pointer;
}
.search_block-header {
    z-index: 9999;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    left: 0;
    top: 100px;
    display: none;
    &.active {
        display: flex;
        form {
            width: 100%;
        }
    }
}

.has_children:hover {
    position: relative;
    ul {
        position: absolute;
        display: block;
        width: 140px;
        left: 0;
        padding: 10px;
        border-radius: 10px;
        background-color: #fff;
        a {
            color: #000;
        }
        li + li {   
            margin-left: 0;
        }
    }
}