.category_sort-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    .card + .card {
        margin: 0 !important;
    }
    .card h3 {
        color: #fff;
    }
}

.category_sort {
    background-attachment: fixed;
    min-height: 100vh;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    .pagination {
        margin: 40px auto;
        justify-content: center;
    }
    h2 {
        font-size: 24px;
        margin: 30px 0;
    }
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        select {
            margin-left: 20px;
            border: 1px solid #000;
            border-radius: 10px;
            padding: 10px 10px;
            font-size: 16px;
        }
    }
}

@media (max-width: 1150px) {
    .category_sort-inner {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 850px) {
    .category_sort-inner {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .category_sort-inner {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .category_sort h2 {
        font-size: 20px;
    }
    .category_sort-inner {
        .card img {
            height: 300px;
        }
        .card_play {
            height: 300px;
        }
    }
}

@media (max-width: 500px) {
    .category_sort-inner {
        .card {
            max-width: 100%;
            h3 {
                font-size: 16px;
            }
        }
        .card img {
            height: 250px;
        }
        .card_play {
            height: 250px;
        }
    }
}